:root {
  --darkBlue: hsl(209, 23%, 22%);
  --darkBlueShade: hsl(207, 26%, 17%);

  --primaryTextDark: hsl(200, 15%, 8%);
  --primaryTextLight: hsl(0, 0%, 100%);

  --darkGray: hsl(0, 0%, 52%);
  --lightModeBg: hsl(0, 0%, 98%);
}
