*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: var(--lightModeBg);
  color: var(--primaryTextDark);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;

  user-select: none;
  scroll-behavior: smooth;
}
