.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 0;
  margin: 0 auto;
  width: 90%;
  max-width: 120rem;

  &__text {
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 800;

    a {
      color: currentColor;
      font-family: inherit;
      text-decoration: none;
    }
  }
}
